Gallery3WinForm1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://f00031133:50561/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://f00031133:50561/Service1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gallery3Selfhost1.DTO" />
  <xs:element name="GetArtistNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetArtistNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prArtistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gallery3Selfhost1.DTO" minOccurs="0" name="GetArtistResult" nillable="true" type="q2:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gallery3Selfhost1.DTO" minOccurs="0" name="prArtist" nillable="true" type="q3:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gallery3Selfhost1.DTO" minOccurs="0" name="prArtist" nillable="true" type="q4:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>